@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body { background: #000000; font-family: Poppins, sans-serif; color: white; }

nav .navbar-brand { font-size: xx-large; }

nav .navbar-brand .blue { color: #005FF0; }

main .form-control { display: inline-block; width: auto; }

main { overflow-x: auto; text-align: center; }

main img { max-width: 100%; }

main td { text-align: left; }

.left-booker { position:absolute; left:17%; top:10%; margin-left:-20px; margin-top:-10px; }

.right-booker { position:absolute; left:70%; top:10%; margin-left:-20px; margin-top:-10px; }